<?xml version="1.0" ?>
<robot name="nature_valley_sweet_and_salty_nut_peanut">
  <link name="base_link">
    <inertial>
      <mass value="0.10569715117657806"/>
      <origin rpy="1.51364 -0.00888 -2.4348" xyz="0.01389 -0.00541  0.07237"/>
      <inertia ixx="0.00037132692085824415" ixy="-2.892065923885909e-21" ixz="5.959487699167158e-20" iyy="0.00022978060172606637" iyz="-2.89343303312574e-22" izz="0.00018473385000554053"/>
    </inertial>
    <collision name="nature_valley_sweet_and_salty_nut_peanut__collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./nature_valley_sweet_and_salty_nut_peanut_250_collision.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="nature_valley_sweet_and_salty_nut_peanut__visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./optimized_tsdf_texture_mapped_mesh.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
