<?xml version="1.0" ?>
<robot name="quaker_chewy_peanut_butter_chocolate_chip">
  <link name="base_link">
    <inertial>
      <mass value="0.11921498606606619"/>
      <origin rpy="3.11627 -0.01386 -2.32945" xyz="0.01512 -0.00035  0.08462"/>
      <inertia ixx="0.00048462027796147123" ixy="2.0871170087024702e-19" ixz="3.1646435110623374e-22" iyy="0.00028482936082357903" iyz="7.69291865533308e-22" izz="0.00024589696879654755"/>
    </inertial>
    <collision name="quaker_chewy_peanut_butter_chocolate_chip__collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./quaker_chewy_peanut_butter_chocolate_chip_250_collision.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="quaker_chewy_peanut_butter_chocolate_chip__visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./optimized_tsdf_texture_mapped_mesh.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
