<?xml version="1.0" ?>
<robot name="campbells_soup_at_hand_creamy_tomato">
  <link name="base_link">
    <inertial>
      <mass value="0.039711662220987716"/>
      <origin rpy="3.10749  0.01042 -0.8114" xyz="0.00542 -0.00267  0.06268"/>
      <inertia ixx="5.1327439855842035e-05" ixy="1.1854698069814132e-20" ixz="-1.0815679352837485e-20" iyy="5.055634821971619e-05" iyz="-1.5747483410562783e-20" izz="2.2698754451516812e-05"/>
    </inertial>
    <collision name="campbells_soup_at_hand_creamy_tomato__collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./campbells_soup_at_hand_creamy_tomato_250_collision.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="campbells_soup_at_hand_creamy_tomato__visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./optimized_tsdf_texture_mapped_mesh.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
