<?xml version="1.0" ?>
<robot name="073-b_lego_duplo">
  <link name="base_link">
    <inertial>
      <mass value="0.00433465512217716"/>
      <origin rpy="7.05000e-03  1.67000e-03 -1.98346e+00" xyz="-0.02009 -0.02077  0.0207"/>
      <inertia ixx="1.0081515364588823e-06" ixy="5.421793981984639e-23" ixz="-2.0896051690366554e-22" iyy="1.0065021318498468e-06" iyz="-1.1049710348975446e-22" izz="7.292649608543341e-07"/>
    </inertial>
    <collision name="073-b_lego_duplo__collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./073-b_lego_duplo_250_collision.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="073-b_lego_duplo__visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./textured.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
