<?xml version="1.0" ?>
<robot name="hersheys_bar">
  <link name="base_link">
    <inertial>
      <mass value="0.005875151987191116"/>
      <origin rpy="1.89184 -1.55976 -2.95612" xyz="-0.00242  0.00531  0.00895"/>
      <inertia ixx="1.4281547539245356e-05" ixy="4.316954285476397e-23" ixz="-4.211746235163135e-22" iyy="1.2165532348744859e-05" iyz="1.0968357544148796e-22" izz="2.1454722421603907e-06"/>
    </inertial>
    <collision name="hersheys_bar__collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./hersheys_bar_250_collision.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="hersheys_bar__visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./optimized_tsdf_texture_mapped_mesh.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
