<?xml version="1.0" ?>
<robot name="Dog">
  <link name="Dog__link">
    <inertial>
      <mass value="0.2287790046566807"/>
      <origin rpy="-1.6794  -0.61498  3.13433" xyz="-0.00032  0.02767  0.00305"/>
      <inertia ixx="0.0011027338288765206" ixy="3.240323604665755e-19" ixz="3.9148658026081924e-20" iyy="0.0010236772007582815" iyz="1.571714846198878e-20" izz="0.00041362230496310527"/>
    </inertial>
    <collision name="Dog__collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./Dog_250_collision.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="Dog__visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./Dog_25k_tex.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
