<?xml version="1.0" ?>
<robot name="nutrigrain_strawberry">
  <link name="nutrigrain_strawberry__link">
    <inertial>
      <mass value="0.13193830496769776"/>
      <origin rpy="-1.58973 -0.0082   1.01132" xyz="0.01125 -0.00245  0.07442"/>
      <inertia ixx="0.0006444375303314546" ixy="-1.4780607443686215e-20" ixz="-1.0466981082554694e-19" iyy="0.0004492979896655567" iyz="-4.888222360835308e-21" izz="0.0002429828507172094"/>
    </inertial>
    <collision name="nutrigrain_strawberry__collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./nutrigrain_strawberry_250_collision.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="nutrigrain_strawberry__visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./optimized_tsdf_texture_mapped_mesh.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
