<?xml version="1.0" ?>
<robot name="031_spoon">
  <link name="base_link">
    <inertial>
      <mass value="0.007688344093587778"/>
      <origin rpy="-0.47245 -1.55439  0.12868" xyz="-0.03685 -0.00381  0.00889"/>
      <inertia ixx="1.9087449471544153e-05" ixy="1.4418877958849702e-22" ixz="1.8931685376691785e-22" iyy="1.8746958755464454e-05" iyz="6.840428343071304e-21" izz="6.661787699816911e-07"/>
    </inertial>
    <collision name="031_spoon__collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./031_spoon_250_collision.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="031_spoon__visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./textured.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
