<?xml version="1.0" ?>
<robot name="073-e_lego_duplo">
  <link name="073-e_lego_duplo__link">
    <inertial>
      <mass value="0.011374822139233765"/>
      <origin rpy="1.56982 0.00488 0.43548" xyz="-0.0233  -0.05006  0.01926"/>
      <inertia ixx="8.628298035655633e-06" ixy="-4.81660508319997e-23" ixz="5.763923438376182e-22" iyy="7.987030716820573e-06" iyz="-3.167152186885567e-22" izz="2.564481591112465e-06"/>
    </inertial>
    <collision name="073-e_lego_duplo__collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./073-e_lego_duplo_250_collision.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="073-e_lego_duplo__visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./textured.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
