<?xml version="1.0" ?>
<robot name="073-l_lego_duplo">
  <link name="073-l_lego_duplo__link">
    <inertial>
      <mass value="0.0049725366523676795"/>
      <origin rpy="3.07772 0.00823 2.67892" xyz="0.00083 0.00174 0.02317"/>
      <inertia ixx="1.1242044447303893e-06" ixy="2.056262350431567e-22" ixz="-6.251119848366883e-23" iyy="1.1035898768397273e-06" iyz="-1.3182934282857777e-22" izz="9.531503045004443e-07"/>
    </inertial>
    <collision name="073-l_lego_duplo__collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./073-l_lego_duplo_250_collision.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="073-l_lego_duplo__visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./textured.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
