<?xml version="1.0" ?>
<robot name="nutrigrain_chotolatey_crunch">
  <link name="nutrigrain_chotolatey_crunch__link">
    <inertial>
      <mass value="0.1332628862667601"/>
      <origin rpy="1.56693 -0.00937 -2.2285" xyz="0.00489 0.00604 0.07509"/>
      <inertia ixx="0.0005327498931675088" ixy="-2.23272231526953e-21" ixz="-1.0459662173912757e-21" iyy="0.0003441024773212619" iyz="1.4539317107284467e-21" izz="0.00025659797568985216"/>
    </inertial>
    <collision name="nutrigrain_chotolatey_crunch__collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./nutrigrain_chotolatey_crunch_250_collision.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="nutrigrain_chotolatey_crunch__visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./optimized_tsdf_texture_mapped_mesh.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
