<?xml version="1.0" ?>
<robot name="pringles_bbq">
  <link name="pringles_bbq__link">
    <inertial>
      <mass value="0.12277460376874941"/>
      <origin rpy="3.13234 -0.01481 -2.29473" xyz="0.00606 0.00373 0.1211"/>
      <inertia ixx="0.0006393645263418732" ixy="7.855135982261628e-21" ixz="4.903995868317072e-20" iyy="0.0006378494875238911" iyz="2.5815297806559675e-20" izz="0.00010007258848995261"/>
    </inertial>
    <collision name="pringles_bbq__collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./pringles_bbq_250_collision.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="pringles_bbq__visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./optimized_tsdf_texture_mapped_mesh.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
