<?xml version="1.0" ?>
<robot name="v8_fusion_strawberry_banana">
  <link name="v8_fusion_strawberry_banana__link">
    <inertial>
      <mass value="0.04393019921544323"/>
      <origin rpy="3.13170e+00 2.28000e-03 2.16935e+00" xyz="0.00408 0.00555 0.06101"/>
      <inertia ixx="5.844787992077311e-05" ixy="5.746013380051307e-21" ixz="4.334317705837137e-21" iyy="5.78916591594469e-05" iyz="3.8331648381317594e-21" izz="2.7385218269239616e-05"/>
    </inertial>
    <collision name="v8_fusion_strawberry_banana__collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./v8_fusion_strawberry_banana_250_collision.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="v8_fusion_strawberry_banana__visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./optimized_tsdf_texture_mapped_mesh.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
