<?xml version="1.0" ?>
<robot name="clif_crunch_white_chocolate_macademia_nut">
  <link name="clif_crunch_white_chocolate_macademia_nut__link">
    <inertial>
      <mass value="0.12054650007775884"/>
      <origin rpy="1.55747  0.01265 -2.36111" xyz="0.01306 -0.00269  0.07489"/>
      <inertia ixx="0.00046412480492953996" ixy="1.0743052893661811e-21" ixz="1.5359518234319693e-20" iyy="0.00028820831488987126" iyz="-6.106252291272276e-22" izz="0.00022979933310841324"/>
    </inertial>
    <collision name="clif_crunch_white_chocolate_macademia_nut__collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./clif_crunch_white_chocolate_macademia_nut_250_collision.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="clif_crunch_white_chocolate_macademia_nut__visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./optimized_tsdf_texture_mapped_mesh.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
