<?xml version="1.0" ?>
<robot name="InstantSauce">
  <link name="base_link">
    <inertial>
      <mass value="0.05440972910619637"/>
      <origin rpy="1.54231 0.25792 3.14018" xyz="0.00378 0.03598 0.00149"/>
      <inertia ixx="0.00012930930787154727" ixy="6.24471302990936e-21" ixz="-1.0981219491647207e-20" iyy="0.00010540486376754297" iyz="3.872620721333597e-20" izz="4.083859102360769e-05"/>
    </inertial>
    <collision name="InstantSauce__collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./InstantSauce_250_collision.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="InstantSauce__visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./InstantSauce_25k_tex.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
