<?xml version="1.0" ?>
<robot name="PatchesSensitive">
  <link name="base_link">
    <inertial>
      <mass value="0.018923790651802212"/>
      <origin rpy="-1.58501  0.3779   3.12578" xyz="5.000e-03 1.465e-02 3.000e-05"/>
      <inertia ixx="2.3836649979028696e-05" ixy="1.4771695564700894e-21" ixz="2.4919785504961942e-21" iyy="1.7229649327079285e-05" iyz="5.55796016841107e-21" izz="8.75349893697357e-06"/>
    </inertial>
    <collision name="PatchesSensitive__collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./PatchesSensitive_250_collision.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="PatchesSensitive__visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./PatchesSensitive_25k_tex.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
