<?xml version="1.0" ?>
<robot name="quaker_chewy_chocolate_chip">
  <link name="base_link">
    <inertial>
      <mass value="0.11759022733283499"/>
      <origin rpy="-3.11497 -0.01791  2.87606" xyz="0.01014 -0.00841  0.08488"/>
      <inertia ixx="0.00047427344826689744" ixy="3.1773772335347774e-20" ixz="4.059972314233661e-21" iyy="0.0002811187668850826" iyz="-2.789209008875009e-22" izz="0.00023779823403692133"/>
    </inertial>
    <collision name="quaker_chewy_chocolate_chip__collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./quaker_chewy_chocolate_chip_250_collision.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="quaker_chewy_chocolate_chip__visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./optimized_tsdf_texture_mapped_mesh.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
