<?xml version="1.0" ?>
<robot name="coffee_mate_french_vanilla">
  <link name="coffee_mate_french_vanilla__link">
    <inertial>
      <mass value="0.07576892907130998"/>
      <origin rpy="-3.00000e-04 -2.34900e-02  2.45012e+00" xyz="0.0032  -0.01331  0.08847"/>
      <inertia ixx="0.00020254150034520785" ixy="-7.798153280111111e-21" ixz="5.476214178905305e-20" iyy="0.0002021379036536888" iyz="-4.9391808699163945e-20" izz="5.426332640239932e-05"/>
    </inertial>
    <collision name="coffee_mate_french_vanilla__collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./coffee_mate_french_vanilla_250_collision.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="coffee_mate_french_vanilla__visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./optimized_tsdf_texture_mapped_mesh.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
