<?xml version="1.0" ?>
<robot name="WhiteCup">
  <link name="WhiteCup__link">
    <inertial>
      <mass value="0.047444223037796426"/>
      <origin rpy="-3.05564  1.26737  0.04341" xyz="0.00713  0.02801 -0.00343"/>
      <inertia ixx="5.151940965634997e-05" ixy="-9.830903515155126e-21" ixz="2.0281533069518832e-21" iyy="4.6520145944818434e-05" iyz="-2.3881026027804943e-22" izz="4.2945423581632175e-05"/>
    </inertial>
    <collision name="WhiteCup__collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./WhiteCup_250_collision.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="WhiteCup__visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./WhiteCup_25k_tex.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
