<?xml version="1.0" ?>
<robot name="FruitTea">
  <link name="FruitTea__link">
    <inertial>
      <mass value="0.039857131332635326"/>
      <origin rpy="1.57766  0.27792 -3.12765" xyz="0.00624  0.02443 -0.00293"/>
      <inertia ixx="6.623661249692359e-05" ixy="5.084903525132751e-22" ixz="-5.187691638372975e-24" iyy="5.9346674828478265e-05" iyz="-6.847298723519196e-21" izz="2.1881399560292085e-05"/>
    </inertial>
    <collision name="FruitTea__collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./FruitTea_250_collision.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="FruitTea__visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./FruitTea_25k_tex.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
