<?xml version="1.0" ?>
<robot name="Paprika">
  <link name="base_link">
    <inertial>
      <mass value="0.017044001978106245"/>
      <origin rpy="-1.50837 -1.12327 -0.04779" xyz="0.00097 0.0213  0.00119"/>
      <inertia ixx="2.1100826482383838e-05" ixy="-1.4066063491720112e-22" ixz="-2.6639013874257076e-22" iyy="2.1081081803215074e-05" iyz="7.718889568979647e-22" izz="3.9411171748068346e-06"/>
    </inertial>
    <collision name="Paprika__collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./Paprika_250_collision.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="Paprika__visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./Paprika_25k_tex.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
