<?xml version="1.0" ?>
<robot name="band_aid_sheer_strips">
  <link name="band_aid_sheer_strips__link">
    <inertial>
      <mass value="0.03946361469719523"/>
      <origin rpy="-0.02513  0.04562 -3.08346" xyz="0.00716 -0.00551  0.05256"/>
      <inertia ixx="5.0587310847959835e-05" ixy="1.6765625195826279e-21" ixz="-4.4776608545093635e-22" iyy="4.057827973222988e-05" iyz="-4.346700266914121e-21" izz="2.7678723801457197e-05"/>
    </inertial>
    <collision name="band_aid_sheer_strips__collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./band_aid_sheer_strips_250_collision.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="band_aid_sheer_strips__visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./optimized_tsdf_texture_mapped_mesh.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
