<?xml version="1.0" ?>
<robot name="Rusk">
  <link name="base_link">
    <inertial>
      <mass value="0.17603922025157276"/>
      <origin rpy="-1.59532  0.07603  3.12052" xyz="0.00414  0.03695 -0.00325"/>
      <inertia ixx="0.0006190330258662489" ixy="4.526861546107179e-21" ixz="9.046961137844025e-21" iyy="0.0004075788106418477" iyz="6.522610480527336e-20" izz="0.00040650492665742004"/>
    </inertial>
    <collision name="Rusk__collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./Rusk_250_collision.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="Rusk__visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./Rusk_25k_tex.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
