<?xml version="1.0" ?>
<robot name="mom_to_mom_sweet_potato_corn_apple">
  <link name="base_link">
    <inertial>
      <mass value="0.030423564437215517"/>
      <origin rpy="3.09902 -0.05501 -2.60763" xyz="0.01453 -0.00226  0.07446"/>
      <inertia ixx="6.0506163266417455e-05" ixy="-2.2293116899264846e-21" ixz="-1.9394885752748392e-21" iyy="5.627234439195982e-05" iyz="1.0301720881167839e-20" izz="1.1164040441060631e-05"/>
    </inertial>
    <collision name="mom_to_mom_sweet_potato_corn_apple__collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./mom_to_mom_sweet_potato_corn_apple_250_collision.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="mom_to_mom_sweet_potato_corn_apple__visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./optimized_tsdf_texture_mapped_mesh.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
