<?xml version="1.0" ?>
<robot name="canon_ack_e10_box">
  <link name="base_link">
    <inertial>
      <mass value="0.09219330686975427"/>
      <origin rpy="3.13815 -0.02478  2.6842" xyz="0.00506 -0.00176  0.08944"/>
      <inertia ixx="0.00028864289807023003" ixy="-1.3476173560765013e-20" ixz="1.1780549418390618e-20" iyy="0.00026223711363290014" iyz="1.1430668623751036e-20" izz="8.381659645809014e-05"/>
    </inertial>
    <collision name="canon_ack_e10_box__collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./canon_ack_e10_box_250_collision.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="canon_ack_e10_box__visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./optimized_tsdf_texture_mapped_mesh.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
