<?xml version="1.0" ?>
<robot name="051_large_clamp">
  <link name="base_link">
    <inertial>
      <mass value="0.0376518625377347"/>
      <origin rpy="-2.09733  1.45922  2.76605" xyz="-0.0063   0.00114  0.01882"/>
      <inertia ixx="8.941595809624688e-05" ixy="5.724026548113829e-22" ixz="7.323839447286635e-21" iyy="6.609197053222543e-05" iyz="-1.9516236937436847e-21" izz="2.841513745868769e-05"/>
    </inertial>
    <collision name="051_large_clamp__collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./051_large_clamp_250_collision.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="051_large_clamp__visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./textured.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
