<?xml version="1.0" ?>
<robot name="quaker_big_chewy_peanut_butter_chocolate_chip">
  <link name="base_link">
    <inertial>
      <mass value="0.1120765482665663"/>
      <origin rpy="1.60747  0.01216 -2.40999" xyz="0.01093 -0.00373  0.07881"/>
      <inertia ixx="0.00044230556921949726" ixy="2.5118477254880272e-22" ixz="4.182927923753458e-20" iyy="0.0002546819907228595" iyz="1.862797232881432e-21" izz="0.00022805295393765038"/>
    </inertial>
    <collision name="quaker_big_chewy_peanut_butter_chocolate_chip__collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./quaker_big_chewy_peanut_butter_chocolate_chip_250_collision.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="quaker_big_chewy_peanut_butter_chocolate_chip__visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./optimized_tsdf_texture_mapped_mesh.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
