<?xml version="1.0" ?>
<robot name="048_hammer">
  <link name="base_link">
    <inertial>
      <mass value="0.08337116431197776"/>
      <origin rpy="-1.34443 -1.55607  0.13557" xyz="-0.03655 -0.00336  0.01512"/>
      <inertia ixx="0.0006686568403831824" ixy="1.922184247496081e-20" ixz="-3.8999640301031207e-20" iyy="0.0006073535116579152" iyz="1.1494257061857612e-19" izz="7.375902507074737e-05"/>
    </inertial>
    <collision name="048_hammer__collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./048_hammer_250_collision.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="048_hammer__visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./textured.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
