<?xml version="1.0" ?>
<robot name="aunt_jemima_original_syrup">
  <link name="base_link">
    <inertial>
      <mass value="0.08773417526160335"/>
      <origin rpy="3.12309e+00  4.00000e-04 -2.96317e+00" xyz="0.00336 -0.01043  0.10443"/>
      <inertia ixx="0.0003211113710538578" ixy="5.443998595429597e-21" ixz="1.222303880149295e-21" iyy="0.0003059168172515584" iyz="-9.525737360604509e-21" izz="6.745183429791992e-05"/>
    </inertial>
    <collision name="aunt_jemima_original_syrup__collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./aunt_jemima_original_syrup_250_collision.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="aunt_jemima_original_syrup__visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./optimized_tsdf_texture_mapped_mesh.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
